apache-airflow-providers-postgres==5.4.0
apache-airflow-providers-odbc==1.0.1
psycopg2==2.9.6


json-rpc==1.13.0
minimal-snowplow-tracker==0.0.2
packaging==20.9
networkx==2.6.3 
mashumaro==2.5
sqlparse==0.4.2

logbook==1.5.3
agate==1.6.1
dbt-extractor==0.4.0

pyparsing==2.4.7 
msgpack==1.0.2
parsedatetime==2.6
pytimeparse==1.1.8
leather==0.3.4
pyyaml==5.4.1

# Airflow constraints are jsonschema==3.2.0
jsonschema==3.1.1
hologram==0.0.14
dbt-core==0.21.1

dbt-postgres==0.21.1
dbt-redshift==0.21.1

#airflow.providers.dbt.cloud==3.3.0
apache-airflow-providers-dbt-cloud==3.2.0

apache-airflow-providers-http==4.5.2
requests==2.26.0

#apache-airflow-providers-openlineage==1.1.0
#apache-airflow-providers-common-sql==1.6.0
#attrs==22.2
#openlineage-integration-common==0.28.0
#openlineage-python==0.28.0
